body{
	background-color:#f1d6cb; 
}
.page{
	background-color:#ffff; 
	width: 1250px;
	margin: auto;
	padding: 50px;
	padding-top: 25px;
}
h1{
	text-align:center;
	font-size: 80px;
	
}

.pure-u-1 img{
	height: 350px;
	width:100vw;
	text-rendering:auto;
	 
}


.pure-u-1-2 {
	text-align: center; 
	display:inline-block;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	text-rendering:auto;
	

}

