body{
	background-color:#f1d6cb; 
}

.page{
	background-color:#ffff; 
	width: 1250px;
	margin: auto;
	padding: 50px;
	padding-top: 25px;
}
h2{
	text-align:center;
	font-weight: bold;
	font-family:  'Open Sans', sans-serif;
	font-size:25px;
	
}
p{
	font-family:  'Open Sans', sans-serif;
	font-size: 15px;
}



li{
	font-family:  'Open Sans', sans-serif;
	font-size: 15px;
}
.focus{
	color:red;
	 
	font-family:  'Open Sans', sans-serif;
}
.pure-u-1{
	height: 350px;
}

.pure-u-1 img{
	height: 350px;
	width:100vw;
	text-rendering:auto;
	 
}


.pure-u-1-2 {
	text-align: center; 
	display:inline-block;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	text-rendering:auto;
	padding-top: 15px;

}

 